<h1>Outgoing#index</h1>
<p>Find me in app/views/outgoing/index.html.erb</p>
<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "اضافة مكاتبة وارد", new_resume_path, class: "btn btn-primary" %>

<%= link_to "اضافة مكاتبة صادر", new_outgoing_path, class: "btn btn-primary" %>

<br />
<br />
<%= search_field('xz','ds') %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>جهة الصادر</th>
         <th>Download Link</th>
         <th>رقم مكاتبة المركز</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @outgoings.each do |outgoing| %>
         
         <tr>
            <td><%=  outgoing.جهة_الصادر %></td>
            <td><%= link_to outgoing.attachment_url, outgoing.attachment_url %></td>
            <td><%= outgoing.رقم_المكاتبة %></td>
            <td><%= button_to "Delete",  outgoing, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{outgoing.name}?" %></td>

         </tr>
         
      <% end %>
   </tbody>
   
</table>