<h1>Incomings#index</h1>
<p>Find me in app/views/incomings/index.html.erb</p>
<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "اضافة مكاتبة وارد", new_incoming_path, class: "btn btn-primary" %>

<%= link_to "اضافة مكاتبة صادر", new_outgoing_path, class: "btn btn-primary" %>

<br />
<br />
<%= search_field('xz','ds') %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th>رقم مكاتبة المركز</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @incoming.each do |incoming| %>
         
         <tr>
            <td><%= incoming.name %></td>
            <td><%= link_to incoming.name, incoming.attachment_url %></td>
            <td><%= incoming.رقم_مكاتبة_المركز %></td>
            <td><%= button_to "Delete",  incoming, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{incoming.name}?" %></td>

         </tr>
         
      <% end %>
   </tbody>
   
</table>