<h1>Incomings#new</h1>
<p>Find me in app/views/incomings/new.html.erb</p>
<% if !@incoming.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @incoming.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

   <div class = "well">
   <%= form_for @incoming, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>


      <%= f.label :رقم_مكاتبة_المركز %>
      <%= f.text_field :رقم_مكاتبة_المركز %>
      
      <%= f.label :رقم_مكاتبة_الجهة_المعنية %>
      <%= f.text_field :رقم_مكاتبة_الجهة_المعنية %>


      <%= f.label :تاريخ_المكاتبة %>
      <%= date_field(:incoming, :تاريخ_المكاتبة) %>


      <%= f.label :جهة_الوارد %>                    
      <%= select(:incoming, :جهة_الوارد, [['اشارة'], ['ردار'], ['سيكرتارية عسكرية']]) %>


      <%= f.label :طبيعة_المكاتبة %>
      <%= select(:incoming, :طبيعة_المكاتبة, [['التزام'], ['معلومية'], ['مطلوب رد']]) %>


      <%= f.label :حالة_المكاتبة %>
      <%= select(:incoming, :حالة_المكاتبة, [['مغلقة'], ['منتهية']]) %>


      <%= f.label :الموضوع %>
      <%= f.text_field:الموضوع%>

      <%= f.label :الظابط_المختص %>
      <%= select(:incoming, :الظابط_المختص, [['رائد / محمود فوزى'], ['نقيب / بهى'], [' رائد/ احمد سمير']]) %>


      <%= f.label :الموضوع_الرئيسى %>
      <%= f.text_field:الموضوع_الرئيسى %>



      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>


</div>